body{
    background: rgb(253,119,119);
background: linear-gradient(90deg, rgb(223, 64, 64) 61%, rgba(218,8,8,1) 100%);;
    
    text-align: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    
}



.menu{
    list-style: none;
    display: flex;
    
}

.menu li{
    padding: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: inset;

}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.menu li:hover{
    background-color: rgba(157, 255, 0, 0.644);
    font-weight: bold;
}

.menu li.activo{
    background-color: rgb(46, 45, 45);
    font-weight: bold;
}



img{
    border-radius: 5%;

}


h1{
    font-family:'Roboto', sans-serif;
} 


#titulos2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
}
#nombre{
    font-family: 'Arial', sans-serif;
}

ol,ul {
    list-style: none;
    text-align: center;
}

/*estilo personalizado*/

.lista-numerada{
    list-style: decimal;
    list-style-position: inside;
    
}